 body {
   background-color: #2a303a;
 }

 .container {
   margin-top: 50px;
 }

 .box-container {
   background-color: #ffffff11;
   border-radius: 8px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   padding: 30px;
 }

 .logo {
   max-width: 100%;
   filter: drop-shadow(2px 4px 6px black);
   height: auto;
 }

 .mb-4 {
   text-align: center;
   color: #9a9fa599;
   filter: drop-shadow(2px 4px 6px black);
 }

 #githubForm {
   box-sizing: border-box;
   display: block;
   margin-top: 0em;
   unicode-bidi: isolate;
 }

 .form-group {
   margin-bottom: 20px;
   box-sizing: border-box;
 }

 .form-control {
   font-family: sans-serif;
   display: block;
   text-transform: lowercase;
   width: 100%;
   height: calc(1.5em + .75rem + 2px);
   padding: .375rem .75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #ffffff;
   background-color: #ffffff00;
   border: 1px solid #88888888;
   border-radius: .6rem;
   transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 }

 .form-control:focus {
   background: transparent;
   color: #ffffff;
   border-color: #88888888;
   box-shadow: 0 0 12px 0 rgb(0 0 0 / 24%);
   filter: drop-shadow(2px 4px 6px black);
 }

 .form-control::placeholder {
   color: #88888888;
 }

 .form-control option {
   color: #000;
 }

 .btn-gh-green {
   background-color: #24292f;
   border-color: #24292f;
   color: #fff;
   cursor: pointer;
   filter: drop-shadow(2px 4px 6px black);
 }

 .btn-gh-green:hover {
   background-color: #ffffff;
   border-color: #ffffff;
   font-weight: 700;
 }

 .user-avatar {
   max-width: 100px;
   height: auto;
   background: transparent;
   border-radius: 18%;
 }

 .card {
   position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: transparent;
   background-clip: border-box;
   border: 1px solid #ffffff7a;
   border-radius: .8rem;
   box-shadow: 0 0 6px 0px #000000;
 }

 .card-title {
   margin-bottom: .75rem;
   color: #ffffff;
   filter: drop-shadow(2px 4px 6px black);
   font-weight: 700;
 }

 .card-text {
   margin-top: 0;
   margin-bottom: 1rem;
   color: #dcefff;
   font-weight: 400;
   filter: drop-shadow(2px 4px 6px black);
 }

 .btn {
   color: #fff;
   background-color: #383d47;
   border-color: #2a303a;
   filter: drop-shadow(2px 4px 6px black);
 }

 .btn:hover {
   color: #000000;
   background-color: #e6e6e6;
   border-color: #ffffff;
   outline: none;
   border: none;
   font-weight: 700;
 }

 .btn:active,
 .btn:focus {
   color: #000000;
   background-color: #e6e6e6;
   border-color: #ffffff;
   outline: none;
   border: none;
 }

 .pagination {
   justify-content: center;
   margin-top: 20px;
   filter: drop-shadow(2px 4px 6px black);
 }

 .page-link {
   color: #000000;
 }
 .page-link:hover {
    z-index: 2;
    color: #000000;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
 }
 .page-item.active .page-link,
 .page-link:focus {
   z-index: 3;
   color: #fff;
   background-color: #383d47;
   border-color: #383d47;
   box-shadow: none;
 }

 .text-success {
   color: #ffffff99 !important;
 }

 footer {
   width: -webkit-fill-available;
   text-align: center;
   margin: auto;
   position: absolute;
   bottom: 0;
   color: #ffffff63;
   filter: drop-shadow(2px 4px 6px black);
 }